html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    margin: 0 auto;
    line-height: 2;
    font-family: 'PT Serif', serif;
    max-width: 1000px;
    padding: 20px;
}

.dark {
    color: lightgrey;
    background: rgb(2, 19, 2)
}