.header__title {
    background-color: azure;
    color: darkgreen;
    width: 100%;
}

.sectionTwo__stars {
    color: purple;
}

.sectionThree__beautiful {
    color: rgba(128, 0, 0, 0.911);
}

.sectionFour__background {
    background-color: rgb(233, 201, 162);
    color: rgb(2, 19, 2);
}

html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    margin: 0 auto;
    line-height: 2;
    font-family: 'PT Serif', serif;
    max-width: 1000px;
    padding: 20px;
}

.table {
    border-collapse: collapse;
}

.table__cell {
    border: 2px dotted darkgreen;
    text-align: center;
    padding: 10px;
    vertical-align: middle;
}

.table__cell table__cell--header {
    background-color: rgba(112, 228, 112, 0.747);
}

.table__row:nth-child(even) {
    background-color: rgba(214, 240, 214, 0.747);
}

.table__row:hover {
    background-color: rgba(112, 228, 112, 0.747);
}

.sectionTable__container {
    overflow-x: auto;
}

.table__caption {
    caption-side: top;
    text-align: center;
    color: darkgreen;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 1px 2px 5px #888;
}

.footer__paragraph {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    text-shadow: 1px 2px 5px rgb(243, 7, 7);
}

.link {
    text-decoration: none;
    color: azure;
    background-color: darkgreen;
    padding: 100 px 10 px;
}

.link :hover {
    color: crimson;
    border-bottom: 1px solid;
    outline: none;
}

.navigation__unOrderlist {
    list-style-type: none;
}

.dark {
    color: lightgrey;
    background: rgb(2, 19, 2)
}